<!DOCTYPE html>
<html lang="en">

<head>
       <title> {{page}} | Argus </title>
    <!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 11]>
    	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    	<![endif]-->
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ekak Innovation | Argus">
    <meta name="keywords" content="Ekak,Argus,Innovation,EkakInn,ArgusEkak">
    <meta name="author" content="Argus">
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico')}}">

    <!-- vendor css -->
    <link rel="stylesheet" href="{{ url_for('static' , filename='css/style.css') }}">
    <link href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,430;1,430&display=swap');
        </style>



</head>
<body style="background-color: #F2F1F1;font-family: 'Red Hat Display', serif;
font-optical-sizing: auto;
font-weight: 430;
font-style: normal;">
	<!-- [ Pre-loader ] start -->
<!--	<div class="loader-bg">-->
<!--		<div class="loader-track">-->
<!--			<div class="loader-fill"></div>-->
<!--		</div>-->
<!--	</div>-->
	<!-- [ Pre-loader ] End -->
	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar menu-light ">
		<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div " >

                <!--            Import from base  -->

                {% include "base_admin__side_bar.html" %}
			</div>
		</div>
	</nav>
	<!-- [ navigation menu ] end -->
	<!-- [ Header ] start -->
	{% include "base_header.html" %}
	<!-- [ Header ] end -->


<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10" style="font-size:18px;font-weight:bold">Users Activity</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Setting</a></li>
                          
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                   
                    <div class="card-body table-border-style">
                        <div class="table-responsive">
                            <table class="table"  id="tableAdminUsers">
                                   <thead class="thead bg-white">
                                    <tr>
                                        <th scope="col">Date </th>
                                        <th scope="col">User ID</th>
                                        <th scope="col">Activity Page</th>
                                        <th scope="col">Activity Action</th>
                                    </tr>
                                </thead>
                                <tfoot class="thead bg-white">
                                    <tr>
                                        <th scope="col">Date </th>
                                        <th scope="col">User ID</th>
                                        <th scope="col">Activity Page</th>
                                        <th scope="col">Activity Action</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {% if activities %}
                                    
                                    {% for item in activities %}
                                    
                                    <tr>
                                        <th>{{ item[3] | replace('__',' : ') | replace('_',"-")}} </th>
                                        <td><b>{{ userName_Id[item[0]]  }}</b></td>
                                        <td>{{ item[1]  }}</td>
                                        <td > {{ item[2] }} </td>
                                      
                                    
                                    </tr>
                                    {% endfor %}

                                    {% else %}
                                    <tr>
                                        <td>No Data Found</td>
                                        <td>No Data Found</td>
                                        <td>No Data Found</td>
                                        <td>No Data Found</td>
                                    </tr>
                                    {% endif %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Required Js -->
    <script src="{{ url_for('static' , filename='js/vendor-all.min.js') }} "></script>
    <script src="{{ url_for('static' , filename='js/plugins/bootstrap.min.js') }} "></script>
    <script src="{{ url_for('static' , filename='js/ripple.js') }} "></script>
    <script src="{{ url_for('static' , filename='js/pcoded.min.js') }} "></script>



<script src="{{ url_for('static' , filename='js/pages/dashboard-main.js' ) }}"></script>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        // Setup - add a text input to each footer cell
        $('#tableAdminUsers tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" class="form-control" placeholder="Search ' + title + '" />');
        });
     
        // DataTable
        var table = $('#tableAdminUsers').DataTable({
            order: [[0, 'desc']],
            initComplete: function ()
            {
            var r = $('#tableAdminUsers tfoot tr');
            r.find('th').each(function(){
                $(this).css('padding', 8);
            });
            $('#tableAdminUsers thead').append(r);
            $('#search_0').css('text-align', 'center');
            this.api()
            .columns()
            .every(function () {
                var that = this;

                $('input', this.footer()).on('keyup change clear', function () {
                    if (that.search() !== this.value) {
                        that.search(this.value).draw();
                    }
                });
            });
            },
        });
    });
</script>

</body>

</html>
   