<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Login</title>
	<style>
		h1{
		color: green;
		}
	</style>
	<style>
        @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,430;1,430&display=swap');
        </style>
</head>
<body  style="background-color: #F2F1F1;font-family: 'Red Hat Display', serif;
font-optical-sizing: auto;
font-weight: 430;
font-style: normal;">
	<nav>
	<ul>
		<li><a href="/login">Login</a></li>
		<li><a href="/register">Create account</a></li>
	</ul>
	</nav>
	<h1>Login to your account</h1>
	<form action="#" method="post">
	<label for="username">Username:</label>
	<input type="text" name="username" />
	<label for="password">Password:</label>
	<input type="password" name="password" />
	<button type="submit">Submit</button>
	</form>
</body>
</html>
